table {
  margin-top: 50px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #000; /* Fundo preto para a tabela */
  color:  #2da731; /* Texto salmão para toda a tabela */
}
body{
  background-color: rgb(6, 46, 3) ;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color:  #4CAF50; /* Texto salmão para toda a tabela */
}

tr:nth-child(even) {
  background-color: #dddddd;
}
a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #4CAF50; /* Verde musgo para o fundo dos links */
  color: #fff; /* Texto branco para os links */
  text-decoration: none;
  border-radius: 3px;
}
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 1px;
position: absolute;
bottom: 0;
width: 100%;
}

.container-forms {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: left;
  margin-top: 20px;
}


a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CAF50; /* Verde mais suave para o fundo dos links */
  color: #fff; /* Texto branco para os links */
  text-decoration: none;
  border-radius: 3px;
}

a:hover {
  background-color: #45a049; /* Verde um pouco mais escuro no hover */
}

h1, h2, h3 {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  color: white; /* Texto mais escuro para os títulos */

}



.estrelas input[type=radio]{
  display: none;

  
}
.estrelas label i.fa:before{
  content: '\f005';
  color: #FC0;
  font-size: 30px;
  

}
.estrelas input[type=radio]:checked ~ label i.fa:before{

  color: #CCC;
  

}