body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(12, 145, 0) , rgb(0, 0, 0));

}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
 
  .imagem{
    margin-bottom: 25%;
    position: absolute;
    margin-left: 15%;
}
h1{
    text-shadow: 1px 1px 5px rgb(238, 255, 0);   
    font-size: 300% ;
    color: antiquewhite;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-shadow: 1px 1px 5px rgb(238, 255, 0);   
    font-size: 200% ;
    color: antiquewhite;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border-radius: 50%;
    color: white;
}

input{
    
    border:none;
    outline: none;
}

.botao{
    
    background-color : rgba(121, 228, 0, 0.63);
    border: none;
    padding: 15px;
    width: 100%;
    border: 15%;
    color: white;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(0, 22, 1);
    color: rgb(121, 121, 121);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #fff;
    color: #555;
}

/* Estilo para o link de Avaliação */
td a {
    text-shadow: 1px 1px 5px rgb(238, 255, 0);  
    display: inline-block;
    padding: 5px 10px;
    background-color: #009dff;
    color: #a10000;
    border-radius: 3px;
}

td a:hover {
    background-color: #2980b9;
 
}
button {
 
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(0, 70, 0);
    color: #ffffff;
    text-shadow: 1px 1px 5px rgb(238, 255, 0);
    border-radius: 3px;
}

button:hover {
 
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(0, 32, 0);
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}